#root {
  max-width: 1000px;
  /* margin: 0 auto; */
  /* padding: 2rem; */
  text-align: center;
}

.selected {
  width: 800px;
  height: 600px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

.main{
  width: 100px;
  height: 70px;
  margin-right: 20px;
}
.image-previews {
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

