#root {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.selected {
  width: 800px;
  height: 600px;
  margin-top: 40px;
}

.main{
  width: 300px;
  height: 200px;
  margin-right: 20px;
}
.image-previews {
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
}

